<!DOCTYPE html>
<html lang="en">
<head>
    {% import 'bootstrap/wtf.html' as wtf %}
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Pitch Perfect </title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <meta charset="UTF-8">
</head>
<body>


<div class="w3-sidebar w3-bar-block w3-center " style="width:10%; top:15%">
    <hr>
    <p>{{current_user.username}}</p>
    <hr>
    <br>
    <a href="{{url_for('main.profile',uname=current_user.username)}}" class="w3-bar-item w3-button">Profile</a>
    <a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button">Logout</a>
    <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button">Login</a>
    <hr>
    <br>
    <br>

    <div class="w3-container w3-black" style="margin-left:10%">
  {{wtf.quick_form(form)}}
    </div>

</div>

</body>
</html>