<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Pitch Perfect </title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
<div class="w3-container">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
    <div class="w3-card">
        <div class="w3-red w3-button">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
     </div>
</div>

</body>
</html>