<!DOCTYPE html>
<html lang="en">
<head>
    {% import 'bootstrap/wtf.html' as wtf %}
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Pitch Perfect </title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <meta charset="UTF-8">
</head>
<body>
<div class="w3-bar w3-black">
  <a href="#" class="w3-bar-item w3-button w3-mobile w3-green">Home</a>
    {% if current_user.is_authenticated %}
  <a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button w3-mobile">Log Out</a>
    {% else %}
  <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button w3-mobile">Log In</a>
    {%endif%}
  <div class="w3-dropdown-hover w3-mobile">
    <button class="w3-button">Categories<i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
      <a href="#" class="w3-bar-item w3-button w3-mobile">Business</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">Entertainment</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile">School</a>
    </div>
  </div>
</div>


<!--<div class="w3-sidebar w3-bar-block w3-center" style="width:10%">-->
    <!--<br>-->
    <!--{% if current_user.is_authenticated %}-->
    <!--<p>{{current_user.username}}</p>-->
    <!--<br>-->
    <!--<hr>-->
    <!--<a href="{{url_for('main.profile',uname=current_user.username)}}" class="w3-bar-item w3-button">Profile</a>-->
    <!--<a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button">Logout</a>-->
    <!--{% else %}-->
    <!--<a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button">Login</a>-->
    <!--{%endif%}-->
    <!--<br>-->

    <!--<br>-->
<!--</div>-->
<div class="w3-container w3-grey" style="min-height:100vh">

{% block content %}

{% endblock%}
</div>

</body>
</html>