<!DOCTYPE html>
<html lang="en">
<head>
    {% import 'bootstrap/wtf.html' as wtf %}
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Pitch Perfect </title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <meta charset="UTF-8">
</head>
<body>


<div class="w3-sidebar w3-bar-block w3-center w3-black" style="width:10%; top:15%">
    <br>
    <!--{% if current_user.is_authenticated %}-->
    <!--<p>{{current_user.username}}</p>-->
    <!--<br>-->
    <!--<hr>-->
    <!--<a href="{{url_for('main.profile',uname=current_user.username)}}" class="w3-bar-item w3-button">Profile</a>-->
    <!--<a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button">Logout</a>-->
    <!--{% else %}-->
    <!--<a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button">Login</a>-->
    <!--{%endif%}-->
    <!--<br>-->

    <br>
</div>
<div class="w3-container" style="margin-left:10%;min-height:100vh">

{% block content %}

{% endblock%}
</div>

</body>
</html>